.register{
    text-align: center;
}
.paperStyle{padding :10vh;height:70vh;width:80vh;margin:20px auto};
.fieldStyle{margin:5vh 0};

    .head {color : red};

    .fieldStyle {margin:2vh };

    .box{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        padding-top: 5vh;
    }   

    .signIn{
        padding-top: 5vh;
    padding-left: 15vh
    
    }

    