.searchBar{
    margin-left: 15vh;
    margin-right: 15vh;
    }


.accountButton{
    margin-left: 2vh;
}

.dashBoard{
    display: flex;
    flex-direction: column wrap;
}

.icons{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-top: 10px;
}

